.goodsmessageout{
	margin-top: 20px;
}
.goodsmessageoutleft{
	width: 40%;float: left ;
}

.goodsmessageoutright{
	width: 60%;
	float: left ;
	height: 50%;
	position: relative;
}
.goodsmessageoutright a{
	color: #214c90;
}
.name_info h4{
	font-weight:normal;color:darkslategray;margin: 10px 0px;
}
.name_info h3{
margin: 0px;
}
.messbox_info{
	font-size: 12px;
	margin-top: 10px;
}
.commonli{
	list-style: none;float: left;
}
.bookDescription{
	font-weight: lighter;
	font-size: 16px;
	text-indent: 32px;
}
